.matchInfo {
  width: 470;
  width: 550;
  margin-left: 20px;
  background-color: gray;
}

.chessMovesWithIndex {
  display: flex;
  flex-direction: row;
  width: 462px;
  height: 300px;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  flex-wrap: wrap;
}

.index {
  width: 50px;

  display: flex;
  flex-direction: column;
  background-color: red;

}

.indexContent {
  height: 50px;

}

.chessMoves {
  flex: 1;
  min-height: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: yellow;

}

.player {
  height: 60px;
  background-color: lightgreen;
}