.matchContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  min-width: 1300px;
}


.buttonsGrid {
  width: fit-content;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 20px;
}
