@import '../../variables.css';

.myModal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 20;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0,0,0, 0.5);
}

.myModalContent {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  padding: 25px;
  background: var(--color-very-light-gray);
  color: var(--color-dark-text);
  border-radius: 16px;
  min-width: 250px;
}
