.pageWithSidebar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


.pageWithSidebarContent {
  flex: 1;
  min-width: 430px;
  padding-top: 40px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}