@import '../../../variables.css';

.playerInfo {
  height: 50px;
  background-color: var(--color-almost-white);
  display: flex;
  flex-direction: row;
  align-items: center;
}


.onlineStatus {
  margin-left: 10px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border-width: 2px;
  border-color: var(--color-very-dark-gray);
  border-style: solid;
}

.usernameAndRating {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}


.username {
  flex: 1;
  font-size: 16pt;
  padding-left: 10px;
}

.rating {
  width: 140px;
  font-size: 20pt;
  color: var(--color-medium-gray);
  display: flex;
  flex-direction: row;
  align-items: left;
}



