@import '../../variables.css';

.navbar {
  top: 0;
  padding: 0 35px;
  height: 50px;
  z-index: 10;
  width: calc(100% - 70px);
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-dark-cyan);
}

.siteLogo {
  height: 36px;
  cursor: pointer;
}


.userInfoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}


.username {
  font-size: 14pt;
  padding-right: 6px;
}

.outsideClick {
  height: 20px;
}

.openMenuIcon {
  height: 20px;
  cursor: pointer;
  font-weight: 500;
}