@import '../../../variables.css';

.chessMove {
  width: 166px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 14px;
  justify-content: left;
  color: var(--color-very-dark-gray);
}