@import '../../variables.css';


.menu {
  width: var(--sidebar-width);
}


.menuOptionsContainer {
  padding: 20px 10px;
  width: calc(100% - 20px);
  display: flex;
  flex-direction: column;
}

.menuOption {
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.menuOption:hover {
  background-color: rgb(88, 120, 135);
}

.navLink {
  text-decoration: none;
}


