@import '../../../variables.css';

.boardCell {
  width: 100px;
  height: 100px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.dot {
  width: 30px;
  height: 30px;
  background-color: var(--color-very-dark-gray);
  border-radius: 50%
}