@import './variables.css';

body {
  padding: 0;
  margin: var(--navbar-height) 0 0 0;
  /* min-height: 100vh; */
  background-color: var(--color-dark-background);
  color: var(--color-light-text);
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  width: fit-content;
}

button {
  color: var(--color-very-dark-gray);
  user-select: none;
}

input {
  color: var(--color-light-text);
}

a {
  color: var(--color-light-text);
}